.CardDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2rem;
}

h4 {
    margin: 8px;
    font-family: 'Josefin Sans', sans-serif;
    color:  rgb(137, 120, 108);
    font-size: 30px;
    letter-spacing: 2px;
}

img{ 
    width: 450px;    
}

button{
    margin:15px;
    padding: 15px;
    background-image: linear-gradient(to right, #628f55ba 0%, #061700e7  51%, #50a439d7  100%);
    background-size: 200% auto;
    transition: 0.5s;
    text-transform: uppercase;
    color:rgb(255, 253, 248);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 5px;
    border-top-left-radius: 15px; 
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
button:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}