.svg-inline--fa {
    height: 30px;
    margin: 5px;
    padding: 20px;
    color:rgba(239, 234, 227, 0.948);
    background-color:  rgba(27, 26, 26, 0.365);
    box-shadow: 0px 0px 25px rgb(242, 240, 239);
    
    border-top-left-radius:30px;
    border-bottom-right-radius: 30px;
}

.cartQ {
    width: 30px;
    color:white;
    font-size: 30px;
}