.footer{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/public/assets/productos/img/backg3.jpg"); 
    

}

.title-redes {
    margin:2rem;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0px 0px 20px rgb(242, 240, 239);
    border-radius: 10px;

}

h5{
    margin: 15px;
    padding: 10px;
    color:  rgb(251, 238, 228);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight:lighter;
}

h6{
    margin: 15px;
    padding: 10px;
    color:  rgb(251, 238, 228);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: lighter;

}